# Infrastructure
RECIPES_INFRA_MAIN_DATABASE_USERNAME=
RECIPES_INFRA_MAIN_DATABASE_PASSWORD=
RECIPES_INFRA_MAIN_DATABASE_HOST=
RECIPES_INFRA_MAIN_DATABASE_PORT=
RECIPES_INFRA_MAIN_DATABASE_NAME=

RECIPES_INFRA_MAIN_CACHE_ADDRESS=
RECIPES_INFRA_MAIN_CACHE_USERNAME=
RECIPES_INFRA_MAIN_CACHE_PASSWORD=
RECIPES_INFRA_MAIN_CACHE_DATABASE=

RECIPES_INFRA_SESSIONS_CACHE_ADDRESS=
RECIPES_INFRA_SESSIONS_CACHE_USERNAME=
RECIPES_INFRA_SESSIONS_CACHE_PASSWORD=
RECIPES_INFRA_SESSIONS_CACHE_DATABASE=

RECIPES_INFRA_MAIN_OBJECT_STORAGE_ADDR=
RECIPES_INFRA_MAIN_OBJECT_STORAGE_USERNAME=
RECIPES_INFRA_MAIN_OBJECT_STORAGE_PASSWORD=

# Server
RECIPES_SERVER_PORT=
RECIPES_SERVER_SESSIONS_SECRET=
RECIPES_SERVER_SESSIONS_MAX_IDEL_CONNS=
RECIPES_SERVER_SESSIONS_NAME=
RECIPES_SERVER_SESSIONS_MAX_AGE=

# Constants
RECIPES_CONSTANTS_ENV=
RECIPES_CONSTANTS_DEFAULT_TIMEOUT=
RECIPES_CONSTANTS_USERS_CACHE_TTL=
RECIPES_CONSTANTS_RECIPES_CACHE_TTL=
RECIPES_CONSTANTS_RECIPES_MAX_LIMIT=